	<article class="col-md-6" data-id="{{id}}">
          <div class="card box-shadow h-md-250">
            <div class="cardBody">
              <strong class="d-inline-block mb-2 text-primary">DC</strong>
              <h3>
                <a class="text-dark" href="{{link}}">{{title}}</a>
              </h3>
							<div class="text-muted"><p>{{author}} | {{time}}</p></div>
              <p class="card-text">{{summary}}</p>
              <a href="{{link}}">Continue reading</a>
            </div>
            <img class="imgRight" src="{{image}}">
						<div class="buttonsBtm">
							<button class="btn btn-outline-primary btn-sm showNotes" data-id="{{id}}" data-article="{{link}}">
								Article Notes
							</button>
							<button class="btn btn-outline-danger btn-sm deleteArticle" data-id="{{id}}" data-article="{{link}}">
								Delete From Saved
							</button>
						</div>
					</div>
        </article>
