<article class="clearfix">
	<header>
		<h2>{{articleTitle}}</h2>
		<button class="showNotes" data-id="{{id}}" data-article="{{news}}">
			Article Notes
		</button>
		<button class="deleteArticle" data-id="{{id}}" data-article="{{news}}">
			Delete From Saved
		</button>
	</header>
	<p>{{articleBody}}</p>
</article>
